/*.mat
/*.fig
/*.png
/*.svg
/*.asv
/*.npy
/*.pdf

test_plots_paper.m

tests/
tests_and_future_releases/
paper_figures/
old_tests/
npy-matlab-master/

neomir_analysis/
neomir_mission_figures/

Figures/

test_*
